body {
	color: #666;
	font-size: 35px;
	padding: 40px;
	background: url('../img/tokbox-logo.png') no-repeat 97% 97%;	
}
body>ul {
	margin-left: 80px;
}

a {
	color: #0D80CC;
}

a:visited {
	color: #0D80CC;
}

pre {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #333;
	background-color: #eee;
	padding: 20px;
	border-radius: 10px;
}

ul>ul>li {
	font-size: 30px;
}

ul>ul>ul>li {
	font-size: 24px;
}